  .main-container {
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(1, 184, 205, 0.25);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    border-radius: 25px;
    text-align: center;
  }

  img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 25px;
  }

  .inline-container {
    background-color: rgba(176, 139, 170, 0.5);
    padding-top: 0.1%;
    padding-bottom: 2%;
    padding-right: 3%;
    border-radius: 25px;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
  }

  .homepage {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }

